DJANGO_SECRET_KEY=6Vei4ItmXa5D6JfY29cowev2G2h8RpnR3_GmB1Q9G7s
DJANGO_ENV=production
DJANGO_ALLOWED_HOSTS=your-render-service-name.onrender.com
CORS_ALLOWED_ORIGINS=https://swiftsend.vendas.co.ke
CSRF_TRUSTED_ORIGINS=https://swiftsend.vendas.co.ke
DATABASE_URL=postgresql://swiftsend_postgres_user:JC6WVuAsdYkVuI638sHDrDFrobZc63CG@dpg-dappne5g1s2s73f2eehg-a.oregon-postgres.render.com:5432/swiftsend_postgres